.optmask{
	fill: steelblue;
    stroke: none;
    cursor: pointer;
    fill-opacity: 0.01;
}

.optmask:hover{
    fill-opacity: 0.25;
}

#svg-container{
	height: 600px;
}

.back_behavior_rect_g{
	fill: cyan;
	fill-opacity: 0.01;
}

.cursor_hand{
	cursor: pointer;
}
